@model Tp_Negocio.Models.Chimi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chimi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var ingrediente in Model.Ingredientes.Split('\n'))
                {
                    <li>@ingrediente</li>
                }
            </ul>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreFoto)
        </dt>
        <dd class="col-sm-10">
            <img src="~/imagenes/Chimis/@Model.NombreFoto" width="60"
                 class="rounded-circle" asp-append-version="true" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
