@model Tp_Negocio.Models.Proveedores

@{
    ViewData["Title"] = "Detalles del Proveedor";
}

<h1 class="text-center my-4">Detalles del Proveedor</h1>

        <!-- Imagen del Proveedor -->
        @if (!string.IsNullOrEmpty(Model.NombreFoto))
        {
            <img src="~/imagenes/Proveedores/@Model.NombreFoto" class="card-img-top" alt="@Model.Nombre" style="height: 300px; object-fit: contain; background-color: #f8f9fa;" asp-append-version="true" />
        }

        <!-- Detalles del Proveedor -->
        <div class="card-body">
            <h4 class="card-title text-center text-uppercase font-weight-bold">@Model.Nombre</h4>
            <dl class="row">
                <dt class="col-sm-4">Localidad</dt>
                <dd class="col-sm-8">@Model.Localidad</dd>

                <dt class="col-sm-4">Domicilio</dt>
                <dd class="col-sm-8">@Model.Domicilio</dd>

                <dt class="col-sm-4">Teléfono</dt>
                <dd class="col-sm-8">@Model.Tel</dd>

                <dt class="col-sm-4">Productos</dt>
                <dd class="col-sm-8">
                    <ul class="list-unstyled mb-0">
                        @foreach (var producto in Model.Productos.Split('\n'))
                        {
                            <li>@producto</li>
                        }
                    </ul>
                </dd>
            </dl>
        </div>

        <!-- Botones de Acción -->
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary btn-sm me-2">Editar</a>
            <a asp-action="Index" class="btn btn-outline-secondary btn-sm">Volver a la Lista</a>
        </div>